<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <div >
            <h1>Posrello</h1>
        </div>
        <div class="container">
            <div class="padding"></div>
            <form action="/main" method="post">
                <p>ID : <input type="text" name="id" > <button type="submit">로그인</button></p>
            </form>
        </div>
    </body>
</html>
