<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/project.css">
    </head>
    
    <body>
        <script src="/js/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script>
            var userid = <%= userid %>;
            var pid = <%= pid %>;
            var socket = io();
            var nsid;
            socket.emit('add user', { userid: userid, pid: pid});
            socket.on('load data', function(data){
                $("#todo").empty();
                $("#doing").empty();
                $("#done").empty();
                for(var i in data){
                    /*
                    if(data[i].work == 0) {    
                        $("#todo").append("<div class='element' id='element" + i + "' onclick='changePage();'>"+data[i].name+"</div>");
                    } 
                    else if(data[i].work == 1) {
=======*/
                    if(data[i].done == 0) {    
                        $("#todo").append("<div class='element' id='element" + data[i].sid + "' onclick='changeToSubstep("+data[i].sid+ ");'>"+data[i].name+"</div>");
                    } 
                    else if(data[i].todo > 0) {
                        $("#doing").append("<div class='element' id='element" + i + "' onclick='changePage();'>"+data[i].name+"</div>");
                    }
                    else {
                        $("#done").append("<div class='element' id='element" + i + "'  onclick='changePage();'>"+data[i].name+"</div>");
                    }
                }
            });
            
            socket.on('load substep', function(data){
                sid = data.sid;
            });
            
            function inviteUserToggle(){
                var x = document.getElementById('inviteUser');
                if (x.style.display === 'none') {
                    x.style.display = '';
                } else {
                    x.style.display = 'none';
                }
            };
            
            function makeSubstepToggle(){
                var x = document.getElementById('makeSubstep');
                if (x.style.display === 'none') {
                    x.style.display = '';
                } else {
                    x.style.display = 'none';
                }
            };

            function addUserToSubstepToggle(){
                var x = document.getElementById('addUserToSubstep');
                if (x.style.display === 'none') {
                    x.style.display = '';
                } else {
                    x.style.display = 'none';
                }
            };

            function addDetailToggle(){
                var x = document.getElementById('addDetail');
                if (x.style.display === 'none') {
                    x.style.display = '';
                } else {
                    x.style.display = 'none';
                }
            };

            function inviteUser(){
                var x = $("#invitedUsername").val();
                socket.emit('invite user', { pid: pid, username: x });
                inviteUserToggle();
                return ;
            };

            function makeSubstep(){
                var x = $("#makeSubstepName").val();
                socket.emit('make substep', { pid: pid, substepname: x });
                makeSubstepToggle();
                return ;
            };

            function changeToSubstep(sid){
                var $workShow = $('#workShow') ;
                var $projectShow = $('#projectShow');
                $workShow.show();
                $projectShow.hide();
                nsid = sid;
                socket.emit('get substep', { pid: pid, sid: sid });
                return;
            }
            
            function changeToProject(){
                var $workShow = $('#workShow') ;
                var $projectShow = $('#projectShow');
                $workShow.hide();
                $projectShow.show();
                
                socket.emit('leave substep', { pid: pid, sid: nsid });
                return;
            }

            function addUserToSubstep(){
                var x = $("#addUserToSubstepName").val();
                socket.emit('add user to substep', { sid: sid, username: x });

            };

            function addDetail(){
                var x = $("#addDetailName").val();
                socket.emit('add detail to substep', { sid: sid, detailname: x });

            };
            
            function addComment(){
                var x = $("#addCommentName").val();
                socket.emit('add comment to substep', { sid: sid, comment: x });

            };

            function finishDetail(){
                var x = $("#finishDetailName").val();
                socket.emit('finish detail', { sid: sid, detailname: x });

            };

            

        </script>

        <div>
            <h2><%= pname %></h2>
            <span style="width: 23%; margin-left:77%">
                <button class="header-button" onclick="makeSubstepToggle();">서브스텝 만들기</button>
                <button class="header-button" onclick="inviteUserToggle();">참여자 초대</button>
                <button class="header-button" onclick="location.href='/logout'">로그아웃</button>
            </span>
        </div>        
        <div id="inviteUser" style="display: none; border-bottom: 0px;">
                <p>초대 대상: <input type="text" id="invitedUsername"><button onclick="inviteUser();">초대</button></p>
        </div>
        <div id="makeSubstep" style="display: none; border-bottom: 0px;">
                <p>카드 이름: <input type="text" id="makeSubstepName"><button onclick="makeSubstep();">생성</button></p>
        </div>

        <div class="container" id="projectShow">
            <div class="padding">
               </div>
            <div class="left">
                <div class="titlebox">
                    <h4>To Do</h4>
                </div>
                <div class="elementbox" id="todo">
                </div>
            </div>
            <div class="right">
                <div class="right-left">
                    <div class="titlebox">
                        <h4>Doing</h4>
                    </div>
                    <div class="elementbox" id="doing">
                    </div>
                </div>
                <div class="right-right">
                    <div class="titlebox">
                        <h4>Done</h4>
                    </div>
                    <div class="elementbox" id="done">
                </div>

                </div>
            </div>
        </div>
        <div class="container" id="workShow">
            <div class="WorkCard">
                <div class="WorkCard-header">
                    <p style="text-align: right; margin-right: 15px;"><button onclick="changeToProject();">닫기</button></p>
                    <h1>substep</h4>
                </div>
                <div class="WorkCard-container">
                    <div class="WorkCard-left">
                        <div class="WorkCard-left-top">    
                            <h4>세부사항</h4>
                            <ul>
                                <li><input type="checkbox">12345</li>
                                <li><input type="checkbox">678910</li>
                            </ul>
                        </div>
                        <div class="WorkCard-left-bottom">
                            <h4>코멘트</h4>
                            <input type="text" style="margin-left:10%; width: 80%; height: 10%;">
                            <button class="WorkCard-button" style="margin-left:75%;">코멘트 달기</button>
                            <ul>
                                <li>hello</li>
                            </ul>    

                        </div>
                    </div>
                    <div class="WorkCard-right">
                        <div id="addUserToSubstep" style="display: none; border: 0px; border-bottom: 3px;">
                            <p>추가 대상: <input type="text" id="addUserToSubstepName"><button onclick="addUserToSubstep();">초대</button></p>
                        </div>
                        <div id="addDetail" style="display: none; border: 0px; border-bottom: 3px;">
                            <p>세부사항 이름: <input type="text" id="addDetailName"><button onclick="addDetail();">생성</button></p>
                        </div>
                        <p style="text-align: center;"><button class="WorkCard-button" onclick="addUserToSubstepToggle();">멤버 추가</button></p>
                        <p style="text-align: center;"><button class="WorkCard-button" onclick="addDetailToggle();">세부사항 추가</button></p>
                    </div>
                </div>
            </div>
        </div>
    <body>
</body>
