html, body {
    height: 100%;
}

h1, h4, p {
    text-align: center;
}

div {
    border: 5px solid black;
}

input {
    height: 30px;
    width: 300px;
}

button {
    height: 40px;
    width: 80px;
}

.container {
    height: 100%;
    background-color: #d21566;
}

.padding {
    height: 40%;
    width: 100%;
    background-color: #d21566;
    border: 0px;
}
