html, body {
    height: 100%;
}

h1 {
    text-align: center;
}

h4, p {
    text-align: center;
}

div {
    border: 5px solid black;
}

form {
    height: 100px;
}

.header-button {
    display: inline;
}

.container {
    height: 100%;
    background-color: #d21566;
}

.padding {
    height: 50px;
    width: 100%;
    background-color: #d21566;
    border: 0px;
}

.left {
    background-color: white;
    margin-left: 2%;
    height: 80%;
    float: left;
    width: 45%;
}

.right {
    background-color: #d21566;
    border: 0px;
    height: 80%;
    margin-right: 2%;
    float: right;
    width: 45%;
}

.right-padding {
    height: 10%;
    background-color: #d21566;
    border: 0px;
}

.right-inner {
    height: 44%;
    background-color: white;
}

.inner-padding {
    height: 10px;
    border: 0px;
    background-color: white;
}

.element {
    height: 90px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    background-color: white;
}

.element:hover {
    background-color: pink;
}

.elementbox{
    height: 81%;
    border: 0px;
    overflow: auto;
}

.titlebox {
    height: 15%;
    border: 0px;
    border-bottom: 5px solid black;
}

#makeProject {
    height: 50px;
    border-top-bottom: 0px;
}
